* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  padding: 60px;
}

input {
  width: 100%;
  font-size: 1.2rem;
  color: gray;
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  background-color: beige;
  border: 1px solid gray;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;
}

.card p {
  text-align: center;
}
.card img {
  max-height: 170px;
}
